<div class="container" *ngIf="summary">
    <h1>Zusammenfassung</h1>
    <table>
        <tr>
            <td>Kilometerleistung</td>
            <td>{{summary.kilometerleistung}}</td>
        </tr>
        <tr>
            <td>Fahrzeugtyp</td>
            <td>{{summary.fahrzeugtyp}}</td>
        </tr>
        <tr>
            <td>Bundesland</td>
            <td>{{summary.ort.bundesland}}</td>
        </tr>
        <tr>
            <td>Kreis</td>
            <td>{{summary.ort.kreis}}</td>
        </tr>
        <tr>
            <td>Stadt/Gemeinde</td>
            <td>{{summary.ort.stadt}}</td>
        </tr>
        <tr *ngIf="summary.ort.bezirk">
            <td>Bezirk</td>
            <td>{{summary.ort.bezirk}}</td>
        </tr>
        <tr>
            <td>Postleitzahl</td>
            <td>{{summary.ort.postleitzahl}}</td>
        </tr>
        <tr>
            <td><b>Prämie</b></td>
            <td><b>{{summary.praemie}}€</b> </td>
        </tr>
    </table>
</div>
