.container {
    color:  rgb(0, 92, 187);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 3px solid  rgb(0, 92, 187);
    border-style: groove;
    border-radius: 10px;
    
}